<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<h1>::회원가입 폼::</h1>
	<form action="/member/register">
		ID: <input type="text" name="id"><br /> 
		PW: <input type="text" name="pw"><br /> 
		ADDR: <input type="text" name="addr"><br />
		TEL: <input type="text" name="tel"><br />
		<br>
		<button>가입</button>	
		<a href="/"> <button type="button">HOME</button></a>
	<a href="/member/list"> <button type="button">회원목록</button> </a>
	</form>

</body>
</html>